@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Roboto;
    @apply bg-bgColor;
    @apply text-white;
  }

  h2 {
    @apply text-2xl;
  }

  iframe {
    @apply w-full;
    @apply h-full;
  }
}

@layer components {
  .input_focus {
    border-color: #428bca;
    -webkit-box-shadow: 0 0 0 0.125em rgba(66, 139, 202, 0.25);
    box-shadow: 0 0 0 0.225em rgba(66, 139, 202, 0.25);
  }

  .input {
    width: 100%;
    color: #7a7a7a;
    display: block;
    height: 60px;
    light-height: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    border-radius: 4px;
    outline: none;
  }

  .active {
    background-color: #428bca;
  }
}
